body {
  background: #fffdf7;
  color: #002331;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: lighter;
  line-height: 2;
}
h1 {
  color:#9B2226;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 10px
}
h2 {
  color: #005F73;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 5px
}

a {
  color: #BB3E03;
  text-decoration: none;
  letter-spacing: 2px;
}

a:hover {
  text-decoration: none;
}

.container {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.card {
  background-color: white;
  text-align: center;
  margin: 16px 0px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 8px;
}

#headshot {
  height: 200px;
  border-radius: 50%;
}

.btn {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #BB3E03;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}


.btn:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #BB3E03;;
}

.list-inline {
  list-style: none;
  padding-left: 20px;
}

.list-inline > li {

  display: inline-block;
  margin-right: 20px; /* add spacing between items */
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
